<div class="container">
  <%= form_for(@post) do |f| %>
  <div class="form_group">
    <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Choose a category" }) %><br>
  </div>
  <div class="form_group">
    <%= f.text_field :title, placeholder: "Type the post title here", class: "form_control" %>
  </div>
  <div class="form_group">
    <%= f.text_area :content, size: "60x12", placeholder: "Type the post tect here", class: "form_control" %>
  </div>
  
    <%= f.submit class:"btn" %>
  <% end %>

</div>